{% extends "homebase.html" %}

{%  block title %}{{ content.title }}{% endblock %}
{%  block keywords %}{{news.keywords}}{% endblock %}
{%  block description %}{{news.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}

    <div id="content">
        <div class="container" id="about">
            <div class="row">

                <h2><b>{{ content.title }}</b></h2><br><br>
            <img src="{{content.image.url }}" height="400" width="400"><br>
                {{ content.detail | safe}}<br><br>


                {% for rs in images %}
                    <img src="{{ rs.image.url }}"><br>
                {% endfor %}


            </div>


        </div>
    </div>
    </div>
{% endblock %}