{% extends "homebase.html" %}

{%  block title %}Faq{% endblock %}
{%  block keywords %}{{setting.keywords}}{% endblock %}
{%  block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>
{% endblock %}


{% block content %}

    <div id="content">
        <div class="container" id="about">

                <div id="accordion">
                    {% for rs in faq %}
                    <h3><b>{{rs.question}}</b></h3>
                    <div>
                        <p>
                            {{rs.answer}}
                        </p>
                    </div>
                    {% endfor %}
                </div>

        </div>
    </div>
{% endblock %}