{% extends "homebase.html" %}

{%  block title %}{{news.title}}{% endblock %}
{%  block keywords %}{{news.keywords}}{% endblock %}
{%  block description %}{{news.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}

    <div id="content">
        <div class="container" id="about">
            <div class="row">

                <h2><b>{{ news.title }}</b></h2><br><br>
                {{ news.detail | safe}}<br><br><br><br><br>

                <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
                    {% for rs in images %}
                        <div class="item">
                            <a class="overlay-wrapper">
                                <img src="{{rs.image.url}}" height="500" width="500" alt="Project 1 image" class="img-responsive underlay">

                            </a>

                        </div>
                    {% endfor %}


                </div>


                <br><br>
                <div class="col-md-6">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                    {% endif %}
                    <h4 class="text-uppercase">
                        <b>Write a comment!</b>
                    </h4>
                    <div class="form">
                        <form action="/news/addcomment/{{ news.id }}" role="form" class="contactForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="id_subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />

                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="comment" id="id_comment" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Comment"></textarea>

                            </div>
                            {% if user.id is not None %}
                                <div class="text-center"><button type="submit" class="btn btn-lg btn-inverse" onclick="this.disabled=true;this.form.submit();">Send Comment</button></div>
                            {% else %}
                                Yorum eklemek için Login olunuz!
                            {% endif %}
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <h3 class="block-title text-weight-strong text-uppercase">
                        <b>Comments</b>
                    </h3>
                    {% for rs in comments %}
                        <div class="alert alert-info">
                            <h4>

                                <b>{{rs.subject}}</b>
                            </h4>{{ rs.comment }}<br><br>Kullanıcı : <b>{{ rs.user.first_name }}</b>
                        </div>
                    {% endfor %}

                </div>




            </div>


        </div>
    </div>
    </div>
{% endblock %}