 <!-- sidebar -->
        <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="about.html" class="first">
                  About Us
                  <small>How It All Began</small>
                </a>
            </li>
            <li>
              <a href="#">
                  The Team
                  <small>Our team of stars</small>
                </a>
            </li>
            <li>
              <a href="#">
                  Contact Us
                  <small>How to get in touch</small>
                </a>
            </li>
          </ul>
        </div>
