{% extends "homebase.html" %}

{%  block title %}Sign Up!{% endblock %}
{%  block keywords %}{{setting.keywords}}{% endblock %}
{%  block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}

    <div id="content">
        <div class="container" id="about">
            <div id="content">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}

                        {% endif %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Sign Up!</b>
                                </h3>
                            </div>
                            <div class="panel-body">

                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                    <button type="submit">Sign Up</button>
                                </form>
                                <div class="credits">
                                    <!--
                                      All the links in the footer should remain intact.
                                      You can delete the links only if you purchased the pro version.
                                      Licensing information: https://bootstrapmade.com/license/
                                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flexor
                                    -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
    </div>
{% endblock %}