{% load static %}

<div id="highlighted-slider" class="container">
          <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
            <!--Slideshow content-->
            <!--Slide 1-->
              {% for rs in sliderdata %}
            <div class="item">
              <div class="row">
                <div class="col-md-6 col-md-push-6 item-caption">
                  <h1><b>{{ rs.title }}</b></h1>

                  <a href="/news/{{ rs.id }}/{{ rs.slug }}" class="btn btn-more btn-lg i-right">Habere Git <i class="fa fa-plus"></i></a>
                </div>
                <div class="col-md-6 col-md-pull-6 hidden-xs">
                  <img src="{{ rs.image.url }}" alt="Slide 1" class="center-block img-responsive">
                </div>
              </div>
            </div>
              {% endfor %}

          </div>
</div>
