{% extends "homebase.html" %}

{%  block title %}Change your password{% endblock %}
{%  block keywords %}{{setting.keywords}}{% endblock %}
{%  block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block content %}

    <div id="content">
        <div class="container" id="about">
            <div class="row">
                <div class="col-md-3">

                    {% include "user_panel.html" %}


                </div>

                <h3><b>User Informations</b> </h3>
                <div class="col-md-9">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>

                                {{ field }}

                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="...">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-inverse">Update</button>
                    </form>
                </div>



            </div>
        </div>
    </div>
{% endblock %}