{% extends "homebase.html" %}

{%  block title %}My news{% endblock %}
{%  block keywords %}{{setting.keywords}}{% endblock %}
{%  block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block content %}

    <div id="content">
        <div class="container" id="about">
            <div class="row">
                <div class="col-md-3">

                    {% include "user_panel.html" %}


                </div>


                <div class="col-md-9">
                <button type="button" class="btn btn-lg btn-inverse"><a href="/user/addnews/"> Add News</a></button><br><br>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                            {% endif %}

                        </tr>
                        <tr>

                            <th>Title</th>
                             <th>Gallery</th>
                            <th>Created Date</th>
                            <th>Status</th>

                        </tr>
                        {% for rs in news %}
                            <tr>

                                <td rowcol-md-="2"><a href="/news/{{ rs.id }}/{{ rs.slug }}"> {{ rs.title }}</a></td>
                                <td><a href="javascript:;" onclick="window.open('/user/newsaddimage/{{ rs.id }}','gallery','height:600,widht=800,top=50,left=150')"><img src="/uploads/images/gallery.png"></a> </td>
                                <td>{{ rs.create_at }}</td>
                                <td>{{ rs.status }}</td>
                                <td><button type="button" class="btn btn-inverse"><a onclick="return confirm('Are you sure?')" href="/user/newsdelete/{{ rs.id }}">Delete</a></button></td>
                                <td><button type="button" class="btn btn-inverse"><a href="/user/newsedit/{{ rs.id }}">Edit</a></button></td>


                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
{% endblock %}