{% extends "homebase.html" %}

{%  block title %}My Comments{% endblock %}
{%  block keywords %}{{setting.keywords}}{% endblock %}
{%  block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block content %}

    <div id="content">
        <div class="container" id="about">
            <div class="row">
                <div class="col-md-3">

                    {% include "user_panel.html" %}


                </div>


                <div class="col-md-9">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                            {% endif %}

                        </tr>
                        <tr>

                            <th>News</th>
                            <th>Subject</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Status</th>

                        </tr>
                        {% for rs in comments %}
                            <tr>
                            <td><a href="/news/{{ rs.news.id }}/{{ rs.news.slug }}">{{ rs.news.title }}</a></td>


                                <td>{{ rs.subject }}</td>


                                <td>{{ rs.comment }}</td>

                                <td>{{ rs.create_at }}</td>

                                <td>{{ rs.status }}</td>

                                <td><button type="button" class="btn btn-inverse"><a href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Are you sure?')">Sil</a> </button></td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
{% endblock %}