
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a class="first">
                User Panel
            </a>
        </li>
        <li>
            <a href="/user">
                User Profile
            </a>
        </li>
        <li>
            <a href="/user/mynews">
                My News
            </a>
        </li>
        <li>
            <a href="/user/comments">
                My Comments
            </a>
        </li>

        <li>
            <a href="/logout">
                Logout
            </a>
        </li>
    </ul>
